@import "tailwindcss";

@theme {
  --color-blue: #405f7a;
  --color-softBlue: #698eb1;
  --color-orange: #c76e3e;
  --color-softOrange: #e3b589;
  --color-neutral: #f3e8dc;
}

@font-face {
  font-family: "Cubano";
  src: url("/assets/fonts/CubanoRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Puffin Soft";
  src: url("/assets/fonts/PuffinSoftDisplay.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Puffin Soft", system-ui, sans-serif;
}

.font-cubano {
  font-family: "Cubano", sans-serif;
}

.font-puffin {
  font-family: "Puffin Soft", system-ui, sans-serif;
}
